/*General styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --primary-color: #141414;
    --secondary-color: #F29829;
    --third-color: #A66C26;
    --fourth-color: #F2BE5C;
    --fifth-color: #0E16266;
    --white-color: #F2F2F2;
    --gray-color: #b2bec3;
    --black-color: #2f3640;
    --font-light: 300;
    --font-medium: 500;
    --font-bold: 700;
    --super-title: 4rem;
    --title: 3rem;
    --subtitle: 1.5rem;
    --nav-text: 1.2rem;
    --text: 1rem;
    --text-small: .7rem;
}
body{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

/*Alert styles*/
.alert{
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text);
    font-weight: var(--font-medium);
}
.alert success{
    background-color: #2ecc71;
}
.alert error{
    background-color: #e74c3c;
}

/* base styles */
nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav .menu_item{
    display: flex;
}
nav .menu_item a{
    color: var(--white-color);
    text-decoration: none;    
    margin-right: 3rem;
    font-size: var(--nav-text);
}
nav .menu_item .nav_book{
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: .3rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}
nav .menu_item .nav_book:hover{
    background-color: var(--third-color);
    transition: all 0.3s ease;
}
nav .menu_item a:hover{
    color: var(--secondary-color);
    transition: all 0.3s ease;
}

nav .logo img{
    width: 120px;
    height: 120px;
}
nav .menu_item .welcome_text{
    
    display: flex;
    color: var(--gray-color);
    font-size: var(--nav-text);
}
nav .menu_item .welcome_text img{
    margin-left: 1rem;
}
/* home styles */
.home{
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
}
.home .home_text{
    width: 55%;
}
.home .home_text h1{
    width: 80%;
    font-size: var(--title);
    color: var(--white-color);
    font-weight: var(--font-bold);
    
}
.home .home_text p{
    width: 90%;
    font-size: var(--text);
    color: var(--gray-color);
    margin-top: 1rem;
}
.home .home_text a{
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: var(--nav-text);
    font-weight: var(--font-medium);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 2rem;
    padding: 2rem 1rem;
}
.home .home_text a:hover{
    background-color: var(--third-color);
    transition: all 0.3s ease;
}
.home .home_img{
    width: 55%;
    height: 90%;
    background-image: url("../images/home_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: .2rem;
}
/*About us styles*/
.about{
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4rem;
}

.about .about_text{
    display: flex;
    justify-content: space-around;
}
.about .about_text .about_text_title{
    width: 50%;
}
.about .about_text .about_text_title h2{
    font-size: var(--super-title);
    color: var(--white-color);
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
    margin-left: 3rem;
}
.about .about_text .about_text_content{
    width: 50%;
}
.about .about_text .about_text_content p{
    font-size: var(--text);
    color: var(--gray-color);
    line-height: 1.5;
    letter-spacing: 1.2px;
}
.about .about_img{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.about .about_img img{
    width: calc(100% / 4 - 2rem);
    height: 300px;
    border-radius: .4rem;
}
/*Cards home*/
.cards{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
}
.card{
    width: 300px;
    height: 220px;
    background-color: var(--third-color);
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    line-height: 1.5;
    margin: 1rem;
  
}

.card img{
    width: 50px;
    height: 50px;
}
.card h3{
    font-size: var(--subtitle);
    color: var(--white-color);
    margin-bottom: 1rem;
    margin: 0;
}
.card p{
    font-size: var(--text);
    color: var(--gray-color);
    margin: 0;
}
.card:hover{
   
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

/* team styles */
.team{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.team .text_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.team .text_container .title_team{
    width: 50%;
}
.team .text_container .title_team h2{
    font-size: var(--super-title);
    color: var(--white-color);
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
    margin-left: 3rem;
}
.team .text_container .text_team{
    width: 50%;
}
.team .text_container .text_team p{
    font-size: var(--text);
    color: var(--gray-color);
    line-height: 1.5;
    letter-spacing: 1.2px;
}
.team_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.team_card{   
    background-color: var(--third-color);
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
    line-height: 1.5;
    margin: 1rem;
}
.team_card:hover{
    background-color: transparent;
    transition: all 0.6s ease;
    cursor: pointer;
}
.team_card img{
    width: 200px; 
    margin-bottom: 1rem;
    border-radius: .4rem;
    filter:grayscale(100%);
}
.team_card img:hover{
    filter:grayscale(0%);
    transition: all 0.3s ease;
}
.team_card h3{
    font-size: var(--nav-text);
    color: var(--white-color);
}
.team_card p{
    font-size: var(--text);
    color: var(--gray-color);
    margin: 0;
}


/*register form styles*/
.container_form{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.container_form h2{
    font-size: var(--title);
    color: var(--white-color);
    margin-bottom: 1rem;
}
.container_form form{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_form form input{
    width: 300px;
    height: 40px;
    margin: 1rem 0;
    padding: 0 1rem;
    border: none;
    border-radius: 5px;
}
.container_form form p{
    display: flex;
    align-items: center;
    font-size: var(--text);
    color: var(--white-color);
}
.container_form form label{
    width: 120px;
    height: 50px;
    font-size: var(--text);
    color: var(--white-color);
    margin-top: 1rem;
}
.container_form form span,ul{
    display: none;
}
.container_form form button{
    width: 420px;
    height: 40px;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    cursor: pointer;
}
.container_form form button:hover{
    background-color: var(--third-color);
    transition: all 0.3s ease;
}
.container_form .redirect_text{
    font-size: var(--text);
    color: var(--white-color);
    margin-top: 1rem;
}
.container_form .redirect_text a{
    color: var(--secondary-color);
    
}
/*contact styles */
.contact_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
}
.contact_section
{
    width: calc(100% / 3 - 1rem);
}
.contact_section .contact_data{
    width: 90%;
    display: flex;
    flex-direction: column;
    
}
.contact_section .contact_data h2{
    font-size: var(--title);
    color: var(--white-color);
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
}
.contact_section .contact_data p{
    font-size: var(--text);
    color: var(--gray-color);
    line-height: 1.5;
    letter-spacing: 1.2px;
    margin-top: 1rem;
}
.contact_section .contact_data .business_hour{
    color: var(--white-color);
    font-weight: var(--font-bold);
}
.contact_section .contact_form{
    width: 80%;
    display: flex;
    flex-direction: column;    
}
.contact_section .contact_form h2{
    font-size: var(--title);
    color: var(--white-color);
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
}
.contact_section .contact_form form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact_section .contact_form form input{
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    border: none;
    border-radius: 5px;
}
.contact_section .contact_form form label{
    width: 120px;
    font-size: var(--text);
    color: var(--white-color);
    margin: .5rem 0;
}
.contact_section .contact_form form .terms_section{
    display: flex;
    margin-top: .5rem;
    align-items: center;
}
.contact_section .contact_form form .terms_section p{
    font-size: var(--text-small);
    color: var(--white-color);
    margin: 0;
    padding: 0;
}
.contact_section .contact_form form .terms_section input{
    width: 20px;
    margin-right: .5rem;
}
.contact_section .contact_form form textarea{
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
}
.contact_section .contact_form form button{
    width: 100%;
    height: 40px;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    cursor: pointer;
}
.contact_section .contact_map{
    width: 100%;
    height: 90%;
    border-radius: .4rem;
}
.contact_section .contact_map h2{
    font-size: var(--title);
    color: var(--white-color);
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
}
.contact_section .contact_map iframe{
    width: 100%;
    height: 100%;
    border-radius: .4rem;
}
/* menu styles */
.menu_container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}
.menu_container h1{
    font-size: var(--title);
    color: var(--white-color);
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: 1rem;
}
.menu_container .menu_categories{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}
.menu_container .menu_categories a{
    color: var(--white-color);
    text-decoration: none;
    font-size: var(--text-small);
    margin-right: 3rem;
    padding: .7rem 1.5rem;
    background-color: var(--third-color);
    border-radius: 5px;
}
.menu_container .menu_categories a:hover{
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
}
.menu_cards_container{
    display: flex;
    justify-content: center;
        flex-wrap: wrap;
}
.menu_cards_container .menu_card{
    height: 350px;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    margin: 1rem;
}
.menu_card:hover{
    transition: all 0.3s ease;
    cursor: pointer;
}
.menu_card img{
    width: 220px;
    height: 320px;
    border-radius: .4rem;
}
.menu_card img:hover{
    border: 2px solid var(--third-color);
    padding: .3rem;
    transition: all 0.6s ease;
}
.menu_card  .menu_item_name{
    font-size: var(--text);
    color: var(--white-color);
    margin: 0;
    text-align: center;
}
.menu_card .menu_item_description{
    font-size: var(--text-small);
    color: var(--gray-color);
    text-align: center;
    margin: 0 auto;
}
.menu_card .menu_item_price{
    font-size: var(--text);
    color: var(--white-color);

}
/*footer styles*/
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin-top: 3rem;
    border-top: 1px solid var(--white-color);
}
footer .footer_item{
    width: 400px;
    height: 150px;
    margin: 0 2rem;
    color: var(--white-color);
    font-size: var(--text);
    display: flex;
    flex-direction: column;
}
footer .footer_item h3{
    font-size: var(--subtitle);
    margin-bottom: 1rem;
    color: var(--secondary-color)
}
footer .footer_item p{
    line-height: 1.5;
    color: var(--white-color);
}
footer .footer_item a{
    color: var(--white-color);
    text-decoration: none;
}
footer .footer_item a:hover{
    color: var(--secondary-color);
    transition: all 0.3s ease;
}
footer .footer_item .contact-rrss{
    margin-top: .5rem;
}
footer .footer_item .contact-rrss a{
    margin-right: 1rem;
}
footer .footer_item form input{
    width: 250px;
    height: 30px;
    margin-top: 1rem;
    padding: 0 1rem;
    border: none;
    border-radius: 5px;
}
footer .footer_item form button{
    height: 30px;
    margin-top: 1rem;
    padding: 0 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    cursor: pointer;
}   