/*General styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --primary-color: #141414;
    --secondary-color: #F29829;
    --third-color: #A66C26;
    --fourth-color: #F2BE5C;
    --fifth-color: #0E16266;
    --white-color: #F2F2F2;
    --gray-color: #b2bec3;
    --black-color: #2f3640;
    --font-light: 300;
    --font-medium: 500;
    --font-bold: 700;
    --title: 2.5rem;
    --subtitle: 1.5rem;
    --nav-text: 1.2rem;
    --text: 1rem;
    --text-small: .7rem;
}
body{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}
/* base styles */
nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
nav .menu_item a{
    color: var(--white-color);
    text-decoration: none;
    
    margin-right: 3rem;
    font-size: var(--nav-text);
}
nav .menu_item .nav_book{
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: .3rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}
nav .menu_item .nav_book:hover{
    background-color: var(--third-color);
    transition: all 0.3s ease;
}
nav .menu_item a:hover{
    color: var(--secondary-color);
    transition: all 0.3s ease;
}
nav .logo{
    width: 150px;
    height: 150px;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
footer .footer_item{
    width: 400px;
    height: 150px;
    margin: 0 2rem;
    color: var(--white-color);
    font-size: var(--text);
    display: flex;
    flex-direction: column;
}
footer .footer_item h3{
    font-size: var(--subtitle);
    margin-bottom: 1rem;
    color: var(--secondary-color)
}
footer .footer_item p{
    line-height: 1.5;
    color: var(--white-color);
}
footer .footer_item a{
    color: var(--white-color);
    text-decoration: none;
}
footer .footer_item a:hover{
    color: var(--secondary-color);
    transition: all 0.3s ease;
}
footer .footer_item .contact-rrss{
    margin-top: .5rem;
}
footer .footer_item .contact-rrss a{
    margin-right: 1rem;
}
footer .footer_item form input{
    width: 250px;
    height: 30px;
    margin-top: 1rem;
    padding: 0 1rem;
    border: none;
    border-radius: 5px;
}
footer .footer_item form button{
    height: 30px;
    margin-top: 1rem;
    padding: 0 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    cursor: pointer;
}   
/* home styles */
.home{
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
}
.home .home_text{
    width: 55%;
}
.home .home_text h1{
    width: 80%;
    font-size: var(--title);
    color: var(--white-color);
    font-weight: var(--font-bold);
    
}
.home .home_text p{
    width: 90%;
    font-size: var(--text);
    color: var(--gray-color);
    margin-top: 1rem;
}
.home .home_text a{
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--white-color);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}
.home .home_text a:hover{
    background-color: var(--third-color);
    transition: all 0.3s ease;
}
.home .home_img{
    width: 55%;
    height: 100%;
    background-image: url("../images/home_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: .2rem;
}
/*Cards home*/
.cards{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
}
.card{
    width: 250px;
    height: 170px;
    background-color: var(--third-color);
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    line-height: 1.5;
    margin: 1rem;
}
.card:hover{
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
}
.card img{
    width: 40px;
    height: 40px;
}
.card h3{
    font-size: var(--subtitle);
    color: var(--white-color);
    margin-bottom: 1rem;
    margin: 0;
}
.card p{
    font-size: var(--text-small);
    color: var(--gray-color);
    margin: 0;
}