{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="keywords" content="resturant, food, health">
    <meta name="description" content="Little Lemon is a restaurant that offers a variety of dishes.">
    <link rel="icon" href="{% static 'assets/littlelemon_favicon.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'restaurant/styles/style.css' %}">    
    <title>Little Lemon</title>   
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'assets/logo2_littlelemon.png' %}" alt="img">
        </div>
        <div class="menu_item">
            <a href="{% url 'home_restaurant' %}">Home</a>      
            <a href="menu.php">Menu</a>
            <a href="about.php" class="nav_book">Book now</a>
            <a href="contact.php">Contact</a>
            {% if not request.user.is_authenticated %}
            <a href="{% url 'signin'%}">Login</a>
            <a href="{% url 'register'%}">Register</a>
            {% else %}
            <span class="welcome_text">Welcome, {{ request.user.username }}
            <a href="{% url 'logoff'%}"><img src="{% static 'assets/logout.png' %}" alt="img"></a>
            </span>
            {% endif %}

        </div>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block contents %}  

    {% endblock %}
    
    <footer>        
        <div class="footer_item">
            <h3 class= "h3_title">Little Lemon</h3>
            <p class="p_subtitle">Little Lemon is a restaurant that offers a variety of dishes. We are located in the heart of the city.</p>
        </div>
        
        <div class="footer_item">
            <h3>Contact</h3>
            <p>Address: 1234 Lemon Street, City, Country</p>
            <p>Phone: +123 456 7890</p>
            <div class="contact-rrss">
                <a href="#"><img src="{% static 'assets/youtube_logo.png' %}" alt="youtube"></a>
                <a href="#"><img src="{% static 'assets/x_logo.png' %}" alt="twitter"></a>
                <a href="#"><img src="{% static 'assets/facebook_logo.png' %}" alt="facebook"></a>                
                <a href="#"><img src="{% static 'assets/instagram_logo.png' %}" alt="instagram"></a>
            </div>
        </div>
        <div class="footer_item">
            <h3>Opening hours</h3>
            <p>Monday to Friday: 11:00 - 21:00</p>
            <p>Saturday: 11:00 - 00:00</p>
            <p>Sunday: 11:00 - 23:00</p>
        </div>
        <div class="footer_item">
            <h3>Newsletter</h3>
            <p>Savor the flavor of our kitchen secrets and stay updated with the latest news about our services</p>
            <form action="newsletter.php" method="post">
                <input type="email" name="email" placeholder="Enter your email" required>
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </footer>
</body>
</html>